<div class="card d-flex justify-content-center h-50 w-75 p-3" style="backgournd-color: ornage;">
    <div>
        <h3 class="card-title px-1 justify-content-left ">{{posts.name}}</h3>
        <h4 class="justify-content-right px-1">{{posts.User.name}}  {{posts.date_created}}</h4>
    </div>
    <div>
        <p class="card-text text-center">{{post.content}}</p>
    </div>
</div>
{{#each relpy as |posts|}}
<h3 class="text-center font-weight-bold">Replys</h3>
<div class="card d-flex justify-content-center h-50 w-75 p-3" style="backgournd-color: ornage;">
    <div>
        <h4 class="card-title justify-content-right px-1">{{posts.Reply.User.name}}  {{posts.Reply.date_created}}</h4>
    </div>
    <div>
        <p class="card-text text-center">{{post.Reply.content}}</p>
    </div>
</div>
{{#each}}